<h1>Settings</h1>

<%= render "_email_form.html", conn: @conn, email_changeset: @email_changeset %>

<hr class="my-5" />

<%= render "_password_form.html", conn: @conn, password_changeset: @password_changeset %>