@import "tailwindcss";
@plugin "./heroicons.js";
@plugin "daisyui" {
  themes: light --default --prefersdark, dark, cupcake;
}

@variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* This file is for your main application CSS */
.text-2xs {
    font-size: .625rem; line-height: 0.75rem;
 }
.text-3xs {
    font-size: .5rem; line-height: 0.5rem;
}
