<p class={"alert alert-#{@alert_type} alert-dismissible fade show"}
  role="alert">
  <%= @alert_content %>
  <button type="button" class="btn-close"
    data-bs-dismiss="alert" aria-label="Close">
  </button>
</p>